################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pininosOnContainers/v15/Server/sqlite3
/obj
/src/Services/Delivery/Delivery.API/bin/Debug/netcoreapp2.0
/src/Services/Delivery/Delivery.API/obj
