################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pininosOnContainers/v15/Server/sqlite3
/obj
/src/Services/Delivery/Delivery.API/bin/Debug/netcoreapp2.0
/src/Services/Delivery/Delivery.API/obj
/.vs
/src/Mobile/pininosApp/pininosApp.Android/obj
/src/Mobile/pininosApp/pininosApp.iOS/obj/iPhone/Debug
/src/Services/Catalog/Catalog.API/obj
/src/Web/MVC/WebMVC/obj
/src/Mobile/pininosApp/pininosApp.iOS/obj/iPhone/Release
/src/Mobile/pininosApp/pininosApp.iOS/obj
/src/Web/MVC/WebMVC/bin/Debug/netcoreapp2.0
/src/Services/Catalog/Catalog.API/bin
/src/Services/Delivery/Delivery.API/bin
