version: '3'

services:
  delivery.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "80"

  webmvc:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "80"


  catalog.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "80"


  user.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "80"
