<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/e179c937-9e71-4475-98fa-08412dba8eb2/resourcegroups/nst-pininos-web/providers/Microsoft.Web/sites/nst-pininos-mvc</ResourceId>
    <ContainerResourceId>/subscriptions/e179c937-9e71-4475-98fa-08412dba8eb2/resourceGroups/nst-pininos-apigroup/providers/Microsoft.ContainerRegistry/registries/registry20180208093943</ContainerResourceId>
    <ContainerResourceName>registry20180208093943</ContainerResourceName>
    <ResourceGroup>nst-pininos-web</ResourceGroup>
    <Subscription>Evaluación gratuita</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20180208093943.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://nst-pininos-mvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bf3ac280-b688-4e1c-aa60-e351b9537dcf</ProjectGuid>
  </PropertyGroup>
</Project>